@font-face {
  font-family: poppins;
  src: url(content/font/poppins.bold.ttf);
}
@font-face {
    font-family: Roboto;
    src: url(content/font/RobotoMono-Medium.ttf);
}
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'poppins';
}
img{
    height: 5vh;
}
nav > ul{
    display: flex;
    gap: 5vw;
    list-style: none;
}
header > section > nav > div {
    display: flex;
    align-items: center;
    gap: 1vw;
}
header > section > nav > div > input{
    padding: 1vh;
    border-radius: 10px;
}
header > section > nav > div > input:first-child{
    background-color: #cff331;
}
header > section > nav > div > input:nth-child(2){
    background-color: #000000;
    color: white;
}
section > nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #cff331;
    padding: 10px 0 10px 0;
    border-bottom: 2px solid gray;
}
main > section{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: #000000;
}
main{
    display: flex;
    justify-content: center;
    color: white;
}
input[type=file]{
    display: none;
}
main > section > article:nth-child(2) > form > label{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30vw;
    height: 20vh;
    border: 2px solid;
    background-color: #cff331;
    border-radius: 20px;
}
main > section > article:nth-child(2) > form > label:hover{
    cursor: pointer;
}

main > section > article > form > input{
    background-color: #cff331;
    padding: 2vh;
    border-radius: 20px;
}

form{
    display: flex;
    align-items: center;
    flex-direction: column;
}
main > section > div:first-child{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 10%;
}
main > section > article{
    display: flex;
    height: 70%;
    justify-content: center;
    align-items: center;
}
input[type="submit"]:hover{
    cursor: pointer;
}
input[type="button"]:hover{
    cursor: pointer;
}
footer > section{
    height: 50vh;
    background-color: #cff331;
}